/.venv/
*.egg-info/

# IDE
.idea/
.vscode/

# Python cache/bytecode
__pycache__/
*.py[cod]
*$py.class

# Packaging/build
build/
dist/
.eggs/
pip-wheel-metadata/

# Test and tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

# Environment files
.env

.github

.DS_STORE